@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for Slick dots */
.slick-dots {
  bottom: 10px; /* Positioning of the dots */
}

.slick-dots li {
  margin: 0 5px; /* Space between dots */
}

.slick-dots li button {
  width: 10px; /* Width of each dot */
  height: 10px; /* Height of each dot */
  border-radius: 50%; /* Make it circular */
  background-color: #ccc; /* Default color */
  opacity: 1; /* Ensure visibility */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.slick-dots li.slick-active button {
  background-color: #a1b300; /* Active dot color */
}
