@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom styles for Slick dots */
.slick-dots {
  bottom: 10px; /* Positioning of the dots */
}

.slick-dots li {
  margin: 0 5px; /* Space between dots */
}

.slick-dots li button {
  width: 10px; /* Width of each dot */
  height: 10px; /* Height of each dot */
  border-radius: 50%; /* Make it circular */
  background-color: #ccc; /* Default color */
  opacity: 1; /* Ensure visibility */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.slick-dots li.slick-active button {
  background-color: #a1b300; /* Active dot color */
}

/* Change the color of inactive dots */
/* .react-multi-carousel-dot button {
  background: #a1e1d4; 
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: none;
} */

/* Change the color of active dots */
/* .react-multi-carousel-dot--active button {
  background: #00ac8d; 
} */

/* .react-multi-carousel-dot-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  position: relative;
  z-index: 10;
} */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
